<ion-content>
  <app-page-layout>

    <div layout-position="main">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-row class="container">
        <h2 class="title">Categorías</h2>
      </ion-row>
    </div>

    <div layout-position="content"> Mostrará productos de categoría
      <ion-row *ngFor="let product of products">
        <ion-card class="category-card">
          <ion-card-title>{{ product.name }}</ion-card-title>
        </ion-card>
      </ion-row>
    </div>

  </app-page-layout>
</ion-content>