<ion-content *ngIf="category">
  <app-page-layout>

    <div layout-position="main">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-row class="container">
        <h2 class="title"> {{ category.name }} </h2>
      </ion-row>
    </div>

    <div layout-position="content">
      <ion-row *ngFor="let product of category.products">
        <ion-card class="category-card" (click)="navigateToProduct(product.id)">
          <ion-card-title>{{ product.name }}</ion-card-title>
        </ion-card>
      </ion-row>
    </div>

  </app-page-layout>
</ion-content>