<form padding [formGroup]="form" (submit)="sendPasswordRecovery()">
  <div class="top-margin container" text-center>
    <ion-text>Introduzca su email para recuperar contraseña</ion-text>
      <ion-input class="input" formControlName="email" type="text" placeholder="Email" text-center margin-bottom></ion-input>
      <div class="alert" text-center>
          <ion-text color="danger" *ngIf="submitError">El email especificado debe ser válido</ion-text>
          <ion-text *ngIf="submitSuccess">Hemos enviado las instrucciones para cambiar la contraseña al email especificado.</ion-text>
      </div>
  </div>
  <div text-center>
      <ion-button class="btn" type="submit">
          Enviar
      </ion-button>
      <div class="container" margin-top>
          <span (click)="backToLogin() ">Volver a inicio de sesión</span>
      </div>
  </div>
</form>