<ion-content>
  <app-page-layout>

    <div layout-position="main">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-row class="container">
        <h2 class="title">Categorías</h2>
      </ion-row>
    </div>

    <div layout-position="content">
      <ion-row *ngFor="let category of categories">
        <ion-card class="category-card" (click)="navigateToCategory(category.id)">
          <img *ngIf="category.image != undefined " [src]="category.image" alt="">
          <ion-card-title>{{ category.name }}</ion-card-title>
        </ion-card>
      </ion-row>
    </div>

  </app-page-layout>
</ion-content>