<ion-content *ngIf="product">
  <app-page-layout>

    <div layout-position="main">
      <ion-row class="container">
        <h1 class="title"> {{ product.name }} </h1>
      </ion-row>
    </div>

    <div layout-position="content">
      <ion-row style="padding-left: 20px; padding-right: 20px; padding-bottom: 10px;">
        <p>{{ product.description }}</p>
      </ion-row>
      <ion-row style="display: block; text-align: center;">
        <p>Coste: {{ product.price | currency:'EUR':true }}</p>
      </ion-row>
      <ion-card *ngIf="!has_product" class="category-card" (click)="addProductToBasket()">
        <ion-card-title>Añadir a la cesta</ion-card-title>
      </ion-card>
      <ion-card *ngIf="has_product" class="category-card" (click)="removeProductToBasket()">
        <ion-card-title>Quitar de la cesta</ion-card-title>
      </ion-card>
    </div>
  </app-page-layout>
</ion-content>