ion-content {
  --overflow: hidden;
}

.top-margin{
  margin-top: 60px;
}

.btn{
  max-width: 85%;
  margin: auto;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 4px;
  white-space: normal;
  text-transform: inherit;

  ion-icon{
    padding: 10px;
    font-size: 2rem;
  }
}

ion-input.input{
  border: 1px solid black;
  border-radius: 4px;
  max-width: 85%;
  margin: auto;
  margin-bottom: 10px;

  input{
    padding-left: 10px !important;
  }
}

ion-input.input-number{
  border: 1px solid black;
  border-radius: 4px;
  max-width: 85%;
  margin: auto;
  margin-bottom: 10px;

  input{
    padding-left: 10px !important;
  }
}

ion-grid{
  min-height: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-text{
    margin: auto;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
    max-width: 85%;
  }

  div {
    margin-top: 10px;
  }
  span{  
    font-weight: 500;
    margin-bottom: 20px;
  }
  
}

.alert{
  text-align: center;
  margin-bottom: 10px;
  margin: 10px;
  display: block;
  min-width: 85%;
  max-width: 85%;
}

.menu{
  display: flex;
}

.container-form{
  max-width: 85%;
  margin: auto;
  margin-top: 10px;

  ion-input.input{
    max-width: 100%;
    margin-top: 10px;
  }

  .btn{
    max-width: 100%;
    margin-top: 15px;
  }
}

#logo{
  max-width: 30%;
  display: block;
  margin: auto;
  margin-top: 30px;
}

@media (max-width: 600px) {
  #logo {
    max-width: 50%;
  }
}

.title{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.search{
  max-width: 85%;
  margin: auto;
  padding: 0;

  .searchbar-input-container{
    height: 44px;
    margin-bottom: 20px;
  }
}

h3, h5{
  text-align: center;
  margin: auto;
  max-width: 85%;
}

ion-card.category-card{
  width: 85%;
  margin: auto;
  background-color: grey;
  text-align: center;
  margin-bottom: 30px;

  ion-card-title{
    font-size: 1.2rem;
    padding: 10px;
  }
}