<ion-content>
  <app-page-layout>
    <div layout-position="main">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-row>
        <ion-col>
          <ion-img id="logo" src="../../../../assets/img/logo.png" alt=""></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="container">
        <h2 class="title">Cesta de la compra</h2>
      </ion-row>
    </div>

    <div layout-position="content" *ngIf="products">
      <ion-row *ngFor="let product of products">
        <ion-card class="product-card" (click)="navigateToProduct(product.id)">
          <ion-card-title>{{ product.name }} {{ product.price | currency:'EUR':true }}</ion-card-title>
        </ion-card>
      </ion-row>
      <ion-card class="buy-card" (click)="buyAll()" *ngIf="products.length > 0">
        <ion-card-title>Finalizar pedido</ion-card-title>
        <ion-card-title>{{ totalCost | currency:'EUR':true }}</ion-card-title>
      </ion-card>
      <ion-card class="buy-card" *ngIf="!(products.length > 0)">
        <ion-card-title>Añade productos a la cesta</ion-card-title>
      </ion-card>
    </div>

  </app-page-layout>
</ion-content>